body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    
}


h1 {
    font-size: 80px;
    text-align: center;
    color: #0B1F3A;
    margin-top: 0;
    padding-top: 60px;
}

h2 {
    color: rgb(71, 25, 25);
    font-size: 40px;
}

.head_div {
    background-image: url(bc.png);
    height: 250px;
    width: auto;
    background-position: center;
    background-size: cover;
    
}

p {
    text-align: center;
    margin-top: 120px;
    font-size: 18px;

}

.list {
    margin-top: 150px;
    margin-left: 30px;
}

li {
    font-size: 18px;
}

.tab-div {
    width: 35%;
    background-color: #335e95;

}

.tab-div h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

td {
  padding: 9px 10px;
  vertical-align: top;
  color: #000; /* Dark text for field labels */
}

input[type="submit"] {
  padding: 3px 12px;
  background-color: #12de75;
  border: 1px solid #777;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  border-radius: 5px;
}

input[type="reset"] {
  padding: 3px 12px;
  background-color: #8b2121;
  border: 1px solid #777;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
  border-radius: 5px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #d0d0d0;
}